<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.prod.dao.ProdMapper">

    <sql id="fromFrag">
        FROM PROD P
                 INNER JOIN LPROD L ON P.PROD_LGU = L.LPROD_GU
                 INNER JOIN BUYER B ON P.PROD_BUYER = B.BUYER_ID
    </sql>
    <resultMap id="prodListMap" type="prodVO" autoMapping="true">
        <association property="lprod" javaType="LprodVO" autoMapping="true">
<!--            <result property="lprodNm" column="LPROD_NM"/>-->
        </association>
        <association property="buyer" javaType="BuyerVO" autoMapping="true"/>
    </resultMap>
    <!--    다건 조회-->
    <select id="selectProdList" resultMap="prodListMap">
        SELECT P.PROD_ID AS PROD_ID
             , P.PROD_NAME AS PROD_NAME
             , P.PROD_LGU AS PROD_LGU
             , L.LPROD_NM AS LPROD_NM
             , P.PROD_BUYER AS PROD_BUYER
             , B.BUYER_NAME AS BUYER_NAME
             , P.PROD_COST AS PROD_COST
             , P.PROD_PRICE AS PROD_PRICE
             , P.PROD_INSDATE AS PROD_INSDATE
             , B.BUYER_ADD1 AS BUYER_ADD1
        <include refid="fromFrag"></include>
    </select>

    <select id="selectProd" resultMap="prodListMap">
        SELECT P.PROD_ID AS PROD_ID
             , P.PROD_NAME AS PROD_NAME
             , P.PROD_LGU AS PROD_LGU
             , L.LPROD_NM AS LPROD_NM
             , P.PROD_BUYER AS PROD_BUYER
             , B.BUYER_NAME AS BUYER_NAME
             , P.PROD_COST AS PROD_COST
             , P.PROD_PRICE AS PROD_PRICE
             , P.PROD_INSDATE AS PROD_INSDATE
             , B.BUYER_ADD1 AS BUYER_ADD1
        <include refid="fromFrag"/>
        WHERE PROD_ID = #{prodId}
    </select>


</mapper>
